.App {
  /* text-align: center; */
  background-color: #494949;
  opacity: 0.8;
  background: repeating-linear-gradient( 45deg, #6bb33c, #6bb33c 7.5px, #494949 7.5px, #494949 37.5px );
  padding-top: 250px;
}

.card{
  margin-left: 650px;
  height: 350px;
  width: 550px;
}

.left-arrow{
  height: 150px;
}

body > #root > div { 
  height: 100vh;
}

